<div class="row">
  <div class="col-sm-6">
    <h2>Playlists</h2>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="./select_playlist" method="post">
      <fieldset id="select-playlist">
        {% csrf_token %}
        {% for field in playlists_form.state_fields %}
        {{ field }}
        {% endfor %}
        <div class="form-group form-group-lg">
          {{ playlists_form.id }}
          {{ playlists_form.id.errors }}
        </div>
      </fieldset>
    </form>
  </div>
</div>
