{% extends 'base.html' %}
{% with active_page="editor" %}

{% block title %}Lyrics Viewer{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}

{% if errors %}
<div class="container-fluid">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Errors:</strong> {{ errors }}
    </div>
</div>
{% endif %}

<!-- Start: Editor body -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!-- Start: Playlists block -->
      {% include "xpolyrics/editor_playlists.html" %}
    </div>
    <!-- End: Playlists -->
    <!-- Start: Tracks block -->
    <div class="col-md-4">
      {% include "xpolyrics/editor_tracks.html" %}
    </div>
    <!-- End: Tracks -->
    <!-- Start: Lyrics block -->
    <div class="col-md-4">
      {% include "xpolyrics/editor_lyrics.html" %}
    </div>
    <!-- End: Lyrics -->
  </div>
  <!-- End: Editor body -->
</div>

{% endblock %}
{% endwith %}
